.body{
margin: 0px;
background-color: #F4F5F7;
}

.gnb{
backdrop-filter: blur(16px);
width: 100%;
height: 100%;
padding-left: 24px;
padding-right: 24px;
padding-top: 16px;
padding-bottom: 16px;
justify-content: space-between;
align-items: center;
display: inline-flex;
}

.logo{
width: 160px;
height: 48px;
justify-content: center;
align-items: center;
display: flex;
}

.item{
justify-content: center;
align-items: center;
gap: 48px;
display: flex;
}

.list{
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16pt;
  border-radius:64px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.list:hover {
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #E0E1E4;
  transition-property: background-color;
  transition-duration: 0.3s;
  border-radius:64px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px; 
}

.list:active {
  
  text-align: center;
  text-decoration: none;
  color: #cccccc;
  background-color: #FFFFFF;
  border-radius:64px;
  font-weight: 500;
  font-size: 16pt;
  border-radius:64px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.list-selected {
  
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #2F2F36;
  border-radius:64px;
  font-weight: 500;
  font-size: 16pt;
  border-radius:64px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.list-selected:hover {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #44444A;
  transition-property: background-color;
  transition-duration: 0.3s;
  border-radius:64px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px; 
}

.list:not(:hover){
  transition: 0.3s ease-out;
}

.list-selected:not(:hover){
  transition: 0.3s ease-out;
}
